@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"); /* Style Reset */

* {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  font-weight: 400;
  color: #212529;
  background: #fffefd;
  -webkit-text-size-adjust: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  margin: 60px 0 68px 0;
  min-height: 340px;
  position: relative;
  background: url("/img/logo-bg.png") no-repeat;
}
.header__title {
  font: bold 3.75em "Raleway";
  color: #6c1b71;
  position: absolute;
  top: 130px;
  left: 230px;
}
@media only screen and (max-width: 600px) {
  .header__title {
    left: 165px;
  }
}
.header__subtitle {
  font: bold 2.375em "Raleway";
  color: #6c1b71;
  position: absolute;
  top: 195px;
  left: 250px;
}
@media only screen and (max-width: 600px) {
  .header__subtitle {
    font-size: 1.375em;
    left: 230px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.form--add {
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 600px) {
  .form--add {
    flex-direction: column;
    align-items: center;
  }
}
.form--add-input {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .form--add-input {
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.form--search {
  display: flex;
  padding-bottom: 60px;
}
.form__title {
  font: bold 1em "Raleway";
  padding-bottom: 26px;
}
.form__input--caption {
  font: 1.125em "Raleway";
  padding-bottom: 10px;
}
.form__input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #6c1b71;
  border-radius: 12px;
  width: 397px;
  height: 65px;
  padding: 10px;
}
.form__button {
  width: 260px;
  height: 65px;
  background: #e2747a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  text-align: center;
  font: bold 1em "Raleway";
  color: #ffffff;
}
.form__button--search {
  width: 93px;
  height: 65px;
  background: #6c1b71 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  max-width: 1560px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cards__btn--delete {
  float: right;
  padding: 10px;
}
.cards__btn--delete-img {
  width: 15px;
}

.cards__single-card {
  width: 375px;
  height: 210px;
  margin: 10px 10px 0 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #21252940;
  border-radius: 12px;
  padding: 30px;
}
.cards__single-card--txt {
  text-align: left;
  font: normal normal bold 1.6em Raleway;
  letter-spacing: 0px;
  color: #6c1b71;
  padding: 10px;
  display: flex;
  align-items: center;
}
.cards__single-card--small {
  font-size: 12px;
  color: #212529;
  font-weight: 400;
  padding-right: 15px;
}
.cards__single-card--PTtxt {
  width: 315px;
  height: 85px;
  background: #fcefec 0% 0% no-repeat padding-box;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 14px;
}
.cards__single-card--PTtxt > .cards__single-card--txt {
  font-size: 2.5em;
}
.footer {
  width: 100%;
  height: 110px;
  background: #6c1b71 0% 0% no-repeat padding-box;
  color: #fffefd;
  position: absolute;
  left: 0;
  margin-top: 90px;
}
.footer__text {
  text-align: center;
  padding-top: 50px;
}
.fadein {
  transition-timing-function: ease-in;
  animation: fadein 0.8s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
